* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: space-around;
    height: 100vh;
}

.layout1, .layout2 {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "main aside"
        "footer footer";
    grid-template-rows: auto auto 1fr auto;    
    gap: 10px;
    border: 1px solid #000;
    padding: 10px;
    width: 45%;
}

.layout2 {
    grid-template-areas:
        "nav nav"
        "header header"
        "main aside"
        "footer footer";
    grid-template-rows: auto auto 1fr auto;
}

header {
    grid-area: header;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
}

nav {
    grid-area: nav;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

main {
    grid-area: main;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: lightgray;
    padding: 10px;
    text-align: center;
}

footer {
    grid-area: footer;
    background-color: lightgrey;
    padding: 10px;
    text-align: center;
    
}

  